<form method="POST" action="/create">
    <div class="row">
    <div class="col-md-12">
        <img src="./assets/images/burger.png" class="img-fluid mt-2" alt="Responsive image">
    </div>
</div>
<div class='row'>
    <div class="col-md-12">
        <h1 class='ml-2'>EAT-DA-BURGER</h1>
    </div>
</div>
<div class='row'>
    <div class="col-md-12">
        <input type="text" class="form-control mt-2" name="burgername" aria-describedby="basic-addon1">
    </div>
</div>
<div class='row'>
    <div class="col-md-12">
        <button type="submit" class="btn btn-secondary mt-2  mr-1 buttonClick">Submit</button>
    </div>
</div>
<div class='row'>
    <div class="col-md-12">
        <p>Enter a burger you want to eat click submit</p>
    </div>
</div>
</form>
